@keyframes s_animation {
  0% {
    border-radius: 0%;
  }

  25% {
    border-radius: 50%;
  }

  50% {
    border-radius: 100%;
  }

  75% {
    box-shadow: 50px 75px green, -50px 75px red;
  }
}

@keyframes n_animation {
  0% {
    background-color: limegreen;
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    background-color: indianred;
    transform: rotateX(-25deg);
  }
}

@keyframes d_animation {
  0% {
    background-color: orange;
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}