$colour: blue;
$darkcolour: darkblue;
$lightbackground: #EBEBD3;
$darkbackground: black;
$mariowhite: white;
$mariored: red;
$mariobrown: rgb(92, 47, 47);
$marioblack: black;
$marioyellow: #fbac69;
$marioblue: blue;
