$fontcolor: #14110F;
$backgroundcolor: #EBEBD3;
$frame1color: #517664;
$frame2color: #FC814A;
$frame3color: #B4ADEA;

$innerframecolor1:#636363;
$innerframecolor2:#A4A4A4;
$innerframecolor3:#C4C4C4;

// Colors (nic)
$n-color:#BDE26D;
// Colors for the pads
$n-mcolor1:#FFCF87;
$n-mcolor2:#87FF5C;
$n-mcolor3:#5CEBFF;
$n-mcolor4:#FC5CFF;
$n-mcolor5:#FF8E87;
$n-mcolor6:#FCFF5C;
$n-mcolor7:#5CFFA7;
$n-mcolor8:#AE5CFF;