$colour: blue;
$darkcolour: darkblue;
$lightbackground: #EBEBD3;
$darkbackground: black;

$fontcolor: #14110F;
$backgroundcolor: #EBEBD3;
$frame1color: #517664;
$frame2color: #FC814A;
$frame3colro: #B4ADEA;
