@media (prefers-reduced-motion: no-preference) {
    .n-pad-container-anim,.n-s2-knob-container-anim{
      animation-duration:30s;
    }

}

@media (prefers-reduced-motion: reduce) {
  .n-pad-container-anim,.n-s2-knob-container-anim{
    animation-duration:0s;
  #maraka_1,#maraka_2,#fog1,#fog2,#fog3,#mario,.d-cardAnimation,#s_mario{
    animation-iteration-count: 0;
  }
  }

  
}
  
  // Dark  color scheme preferences
  
  @media (prefers-color-scheme: dark) {
    // Darker pad color preference
    $n-mcolor1:#977a4e;
    $n-mcolor2:#589e3e;
    $n-mcolor3:#327881;
    $n-mcolor4:#833185;
    $n-mcolor5:#6b3531;
    $n-mcolor6:#777936;
    $n-mcolor7:#286645;
    $n-mcolor8:#442661;
    $backgroundcolor:darken($backgroundcolor,20%)
  }
  
  // Change flex direction based on orientation
  
  @media screen and (orientation: landscape) {
    .container {
      flex-direction: row;
    }
  }
  
  @media screen and (orientation: portrait) {
    .container {
      flex-direction: column;
    }
  }