@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

// Standard stuff
article {
  background-color: $backgroundcolor;
  font-family: "Roboto Condensed", sans-serif;
}

article p{
  text-align:center;
}

article section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.row {
  flex-direction: row;
}

.n-text-top-left {
  text-align:left;
  justify-content:left;
  align-items:left;
}

 .n-text-top-right {
   text-align:right;
   justify-content:right;
   align-items:right;
 }

.n-lbox {
  background-color: $n-boxcolor1;
  width: 20vw;
  height: 55vh;
}

// .n-s1-1box h2 {
// }

.n-s1-rbox {
  background-color: $frame1color;
  width: 75vw;
  height:65vh;
}

.n-s1-topbox-container {
  padding-left: 2%;
  padding-top: 2%;
  flex-direction: row;
}

.n-s1-topbox {
  width: 6vw;
  margin-left: 5%;
  background-color: $n-boxcolor1;
}

.n-s1-topbox-5 {
  margin-left: 25%;
}

.n-s1-topbox p {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.n-s1-lowerbox-container {
  flex-direction: row;
  background-color: $n-boxcolor1;
  margin: 5%;
  width: 68vw;
  height: 40vh;
}

.n-s1-lowerbox-left {
  max-height: 20%;
}

.n-s1-lowerbox-right {
  margin: 2%;
  background-color: $n-boxcolor2;
  width: 20vw;
  height: 20vh;
}

.s2-container{
  flex-direction:row;
  margin-right:50%;
}
.n-s2-boxleft-container,.n-s2-boxright-container{
  flex-direction:column;
}

.n-s2-wheel{
  margin:25%;
  border-radius:100%;
  background-color:$n-intcolor1;
  width:97px;
  height:97px;
}

.n-s2-wheel-inside{
  background-color:$n-boxcolor1;
  border-radius:100%;
  width:48.5px;
  height:48.5px;
}

.n-s2-boxleft{
  background-color:$frame3color;
  width:20vw;
  height:25vh;
}


.n-s2-boxright{
  background-color:$frame3color;
  width:20vw;
  height:50vh;
}

// ?? bug..

 .n-s2-boxright p,h2,h3{
   text-align:center;
 }

.n-s2-knob-container{
 flex-direction:column;
}

.n-s2-knob{
  margin-left:100%;
  margin-top:50%;
  border-radius:100%;
  background-color:$n-intcolor1;
  width:50px;
  height:50px;
}

.n-s2-knob-in{
  border-radius:100%;
  background-color:$n-boxcolor1;
  width:25px;
  height:25px;
}

.n-pad{
  margin:5%;
  background-color:pink;
  width:100px;
  height:100px;
}

.s3-container{
  flex-direction:row;
  margin-right:70%;
}