@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

// Standard stuff
article {
  background-color: $backgroundcolor;
  font-family: "Roboto Condensed", sans-serif;
}

article p{
  text-align:center;
}


article p,h2,h3{
  
  margin:10px;
}

article section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

article div {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.row,.n-pad-upper,.n-pad-lower {
  flex-direction: row;
}

.n-text-container{
  display:block;
  margin:2%;
}

.n-text-top-left{
  display:block;
  text-align:left;
 // position:absolute;
}

 .n-text-top-right {
  margin-left:85vw;
  margin-top:-4vh;
  position:absolute;
  }

.n-lbox {
  background-color: $n-boxcolor1;
  width: 20vw;
  height: 60vh;
  margin:2%;
}

// .n-s1-1box h2 {
// }

.n-s1-rbox {
  background-color: $frame1color;
  width: 75vw;
  height:65vh;
}

.n-s1-topbox-container {
  margin-top:2%;
  padding-left: 2%;
  padding-top: 2%;
  flex-direction: row;
}

.n-s1-topbox {
  width: 7vw;
  margin-left:5px;
  margin-right:5px;
  background-color: $n-boxcolor1;
}


.n-s1-topbox p {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.n-s1-lowerbox-container {
  flex-direction: row;
  background-color: $n-boxcolor1;
  margin: 5%;
  width: 68vw;
  height: 40vh;
}

.n-s1-lowerbox-left {
  max-height: 20%;
  margin:20px;
}

.n-s1-lowerbox-right {
  margin:20px;
  background-color: $n-boxcolor2;
  width: 30vw;
  height: 15vh;
}

.s2-container{
  flex-direction:row;
  margin-right:50%;
}
.n-s2-boxleft-container,.n-s2-boxright-container{
  flex-direction:column;
}

.n-s2-wheel{
  justify-content: center;
  margin:25%;
  border-radius:100%;
  background-color:$n-intcolor1;
  width:97px;
  height:97px;
}

.n-s2-wheel-inside{
  background-color:$n-boxcolor1;
  border-radius:100%;
  width:48.5px;
  height:48.5px;
}

.n-s2-boxleft{
  background-color:$frame3color;
  width:20vw;
  height:25vh;
}


.n-s2-boxright{
  background-color:$frame3color;
  width:20vw;
  height:50vh;
}

// ?? bug..

 .n-s2-boxright p,h2,h3{
   text-align:center;
 }

.n-s2-knob-container{
 flex-direction:column;
}

.n-s2-knob-container-anim{
  animation-name:n-anim-movement;
  animation-fill-mode: forwards;
 }

.n-s2-knob{
  justify-content: center;
  margin-left:100%;
  margin-top:50%;
  border-radius:100%;
  background-color:$n-intcolor1;
  width:50px;
  height:50px;
}

.n-s2-knob-in{
  border-radius:100%;
  background-color:$n-boxcolor1;
  width:25px;
  height:25px;
}

.n-pad-container{
  position:absolute;
  margin-left:60%;
  margin-top:-26%;
}

.n-pad-container-anim{
  animation-name:n-anim-movement;
  animation-fill-mode: forwards;
}

.n-pad{
  margin:10px;
  width:100px;
  height:100px;
  background-color:$n-boxcolor2;
  transition:background-color 1s;
  
}

.n-pad-0-lit{
  background-color:$n-mcolor1;
}

.n-pad-1-lit{
  background-color:$n-mcolor2;
}

.n-pad-2-lit{
  background-color:$n-mcolor3;
}

.n-pad-3-lit{
  background-color:$n-mcolor4;
}

.n-pad-4-lit{
  background-color:$n-mcolor5;
}

.n-pad-5-lit{
  background-color:$n-mcolor6;
}

.n-pad-6-lit{
  background-color:$n-mcolor7;
}

.n-pad-7-lit{
  background-color:$n-mcolor8;
}

.s3-container{
  flex-direction:row;
  margin-right:64%;
}

.n-lbox-3 {
  background-color: $n-boxcolor1;
  width: 30vw;
  height: 50vh;
  margin:2%;
}