*{
  border: 0;
  margin: 0;
  padding: 0;
}

#header{
  width: 100vw;
  height: 300px;
  background-color: $frame1color;
  display: grid;
  margin-bottom:5vh ;
}

#header_spaceinvader{
  width: 150px;
  height: auto;
  justify-self: center;
}

p{
  text-align: center;
}

body {
  background-color: $backgroundcolor;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p,h1,h2,h3,h4,h5{
  font-family: "Roboto",sans-serif;
}

#note_1{
  position: absolute;
  right: 310px;
  top: 151px;
}

#note_2{
  position: absolute;
  left: 243px;
  top: 200px;
}

#marak_1{
  position: absolute;
  right: 200px;
  top: 50px;
}

#marak_2{
  position: absolute;
  left: 152px;
  top: 30px;
}

#marak_1, #marak_2{
  animation-name: shake;
  animation-duration: .5s;
  animation-iteration-count: infinite
  ;
}

.container {
  display: flex;
}

#header-top{
  font-size:2em;
  margin-top:10%;
  margin-bottom:10%;
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
}

.d-h2 {
  margin: 0 auto;
font-size: 70px;
margin-bottom: 50px;
max-width: 1000px;
}

.d-h3 {
  margin: auto;
font-size: 40px;
}

.d-p {
  font-size: 30px;
  margin-bottom: 30px;
}

.d-pcIcon,
.d-mobileIcon {
margin: 0 auto;
max-width: 80%;
}

.d-pcBox,
.d-mobileBox {
  max-width: 450px;
}

.d-iconBox {
  max-width: 300px;
}

.d-cardBox,
.d-iconBox {
margin: 0 auto;
margin-bottom: 500px;
max-width: 1000px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.d-pcBox,
.d-mobileBox,
.d-iconBox {
background-color: #b4adea;
border-radius: 10px;
box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.5);
padding: 50px 0 50px 0;
display: grid;
align-items: center;
}

.d-cardAnimation {
  animation: d-pcCardAnimation .7s ease-out;
}

#cubasis{
  display: grid;
  align-items: center;
}

#s_clouds{
  width: 100vw;
  height: 200px;
}

#s_clouds img{
  height: 100px;
}

#s_cloud1{
  transform: translateX(200px) translateY(70px);
}

#s_cloud2{
  float: right;
  transform: translateX(-300px);
}

#s_mario{
  height: 120px;
  width: 120px;
  animation-name: mario_animation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#s_animjs{
  animation-iteration-count: 1;
}

#s_boxes{
  height: 280px;
  width: 280px;
  transform: translateY(30px) translateX(200px);
}

#s_pole{
  height: 360px;
  width: 120px;
  transform: translateX(320px);
}

#s_flag{
  height: 110px;
  width: 110px;
  transform: translateY(-240px) translateX(490px);
}

#s_mario_wrap{
  display: flex;
  align-items:flex-end;
  height: 400px;
  width: 1000px;
  max-width: 100vw;
}

#s_grass{
  display: block;
  width: 100vw;
  height: 150px;
  background-color: $groundgreen;
  padding-bottom: 999px;
  margin-bottom: -999px;
}

#s_resetbtn{
  display: block;
  background-color: $backgroundcolor;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  transform: translateY(-100px);
  margin: 0 auto;
}

#scene_mario{
  overflow: hidden;
  max-height: 1000px;
}

#simen_scene_2{
  background: linear-gradient( #29d400 0%, rgb(126, 96, 0) 28%);
}



#simen_scene_3{
  background: linear-gradient(rgb(126, 96, 0),rgb(72, 75, 79) 35%);
  position: relative;
}

#s_bonfire{
  display: block;
  width: auto;
  height: 300px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  bottom: 50px;
}

#s_fogwrap{
  width: 100vw;
  height: 350px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

#fog1,#fog2,#fog3{
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#fog1{
left: -100%;
animation-name: fog1;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

#fog2{
  right: 0%;
  animation-name: fog2;
  animation-iteration-count: infinite;
  animation-duration: 60s;
}

#fog3{
right: -50%;
animation-name: fog3;
  animation-duration: 150s;
  animation-iteration-count: infinite;
}

.s_fog{
  overflow: hidden;
  height: 350px;
  width: 100vw;
  position: absolute;
}

.scene, .s_scene{
  width: 100vw;
  display: block;
}

.s_scene{
  height: 100vh;
}

#simen_scene_2_wrap{
  height: 94vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
}

#s_scene_2_header{
  margin: 0;
  font-size: 5vh;
}

#simen_scene_2_wrap > p{
  font-size: 2vh;
  width: 35vw;
  margin: 3vw;
  display: inline-block;
  border: 5px darken($backgroundcolor, 30%) solid;
  background-color: $backgroundcolor;
  padding: 1vw 3vw;
  border-radius: 50px;
  text-align: center;
}


.s_scene_2_player{
  width: 35vw;
  display: inline-block;
  border: 5px darken($backgroundcolor, 30%) solid;
  background-color: $backgroundcolor;
  padding: 1vw 3vw;
  border-radius: 50px;

}

.control{
  margin: 1rem auto;
  width: 25vw;
  display: block;
}

#end{
  font-size: 10vh;
  color: #fbfcfa;
  text-shadow: 2px 2px 8px $textshadow, -2px 2px 8px $textshadow, 0 2px 8px $textshadow, 0 -2px 0 $textshadow;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  font-family:OptimusPrincepsSemiBold, Roboto, sans-serif;
}
