*{
  border: 0;
  margin: 0;
  padding: 0;
}

#header{
  width: 100vw;
  height: 30vh;
  background-color: $frame1color;
  display: grid;
}

#header_spaceinvader{
  width: 150px;
  height: auto;
  justify-self: center;
}

body {
  background-color: $backgroundcolor;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  
}

#s_clouds{
  width: 100vw;
  height: 200px;
}

#s_clouds img{
  height: 100px;
}

#s_cloud1{
  transform: translateX(200px);
}

#s_cloud2{
  float: right;
  transform: translateX(-300px) translateY(-70px);
}





#s_mario{
  height: 120px;
  width: 120px;
  animation-name: mario_animation;
  animation-duration: 5s;
  animation-iteration-count: 0;
  animation-timing-function: linear;
}

#s_boxes{
  height: 280px;
  width: 280px;
  transform: translateY(30px) translateX(200px);
}

#s_pole{
  height: 360px;
  width: 120px;
  transform: translateX(400px);
}

#s_flag{
  height: 110px;
  width: 110px;
  transform: translateY(-240px) translateX(570px);
}

#s_mario_wrap{
  display: flex;
  align-items:flex-end;
  height: 400px;
  width: 1000px;
}

#s_grass{
  display: block;
  width: 100vw;
  height: 150px;
  background-color: $groundgreen;
}

#s_resetbtn{
  display: block;
  background-color: $backgroundcolor;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  transform: translateY(-100px);
  margin: 0 auto;
}

#simen_scene_2{
  background: linear-gradient( #29d400 0%, rgb(126, 96, 0) 28%);
}

#simen_scene_3{
  background: linear-gradient(rgb(126, 96, 0),rgb(72, 75, 79) 35%);
}

#s_bonfire{
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
  position: relative;
  bottom: -50%;
}
.scene{
  height: 100vh;
  width: 100vw;
  display: block;
}



