
*{
  border: 0;
  margin: 0;
  padding: 0;
}

#header{
  width: 100vw;
  height: 30vh;
  background-color: $frame1color;
  display: grid;
}

#header_spaceinvader{
  width: 150px;
  height: auto;
  justify-self: center;
}

body {
  background-color: $backgroundcolor;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  
}

#clouds{
  width: 100vw;
  height: 200px;
}

#clouds img{
  height: 100px;
}

#cloud1{
  transform: translateX(200px);
}

#cloud2{
  float: right;
  transform: translateX(-300px) translateY(-70px);
}





#mario{
  height: 120px;
  width: 120px;
  animation-name: mario_animation;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

#boxes{
  height: 280px;
  width: 280px;
  transform: translateY(30px) translateX(200px);
}

#pole{
  height: 360px;
  width: 120px;
  transform: translateX(400px);
}

#flag{
  height: 110px;
  width: 110px;
  transform: translateY(-240px) translateX(570px);
}

#mario_wrap{
  display: flex;
  align-items:flex-end;
  height: 400px;
  width: 1000px;
}

#grass{
  display: block;
  width: 100vw;
  height: 150px;
  background-color: green;
}

#simen_scene_2{
  background: linear-gradient(green, brown);
}

#simen_scene_3{
  background: linear-gradient(brown,grey);
}
.scene{
  height: 100vh;
  width: 100vw;
  display: block;
}



