@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@-webkit-keyframes mario_animation {
  20% {
    -webkit-transform: translateX(140px) translateY(-200px);
            transform: translateX(140px) translateY(-200px);
  }
  30% {
    -webkit-transform: translateX(270px) translateY(-55px);
            transform: translateX(270px) translateY(-55px);
  }
  45% {
    -webkit-transform: translateX(350px) translateY(-330px);
            transform: translateX(350px) translateY(-330px);
  }
  60% {
    -webkit-transform: translateX(500px) translateY(-225px);
            transform: translateX(500px) translateY(-225px);
  }
  75% {
    -webkit-transform: translateX(750px) translateY(-430px);
            transform: translateX(750px) translateY(-430px);
  }
  90% {
    -webkit-transform: translateX(850px) translateY(-300px);
            transform: translateX(850px) translateY(-300px);
  }
  100% {
    -webkit-transform: translateX(850px) translateY(-50px);
            transform: translateX(850px) translateY(-50px);
  }
}
@keyframes mario_animation {
  20% {
    -webkit-transform: translateX(140px) translateY(-200px);
            transform: translateX(140px) translateY(-200px);
  }
  30% {
    -webkit-transform: translateX(270px) translateY(-55px);
            transform: translateX(270px) translateY(-55px);
  }
  45% {
    -webkit-transform: translateX(350px) translateY(-330px);
            transform: translateX(350px) translateY(-330px);
  }
  60% {
    -webkit-transform: translateX(500px) translateY(-225px);
            transform: translateX(500px) translateY(-225px);
  }
  75% {
    -webkit-transform: translateX(750px) translateY(-430px);
            transform: translateX(750px) translateY(-430px);
  }
  90% {
    -webkit-transform: translateX(850px) translateY(-300px);
            transform: translateX(850px) translateY(-300px);
  }
  100% {
    -webkit-transform: translateX(850px) translateY(-50px);
            transform: translateX(850px) translateY(-50px);
  }
}

@-webkit-keyframes fog1 {
  10% {
    opacity: 0.1;
    left: -40%;
  }
  20% {
    opacity: 0.25;
    left: -20%;
  }
  40% {
    opacity: 0.35;
    left: -10%;
  }
  60% {
    opacity: 0.2;
    left: 20%;
  }
  80% {
    opacity: 0.3;
    left: 60%;
  }
  90% {
    opacity: 0.1;
    left: 100%;
  }
}

@keyframes fog1 {
  10% {
    opacity: 0.1;
    left: -40%;
  }
  20% {
    opacity: 0.25;
    left: -20%;
  }
  40% {
    opacity: 0.35;
    left: -10%;
  }
  60% {
    opacity: 0.2;
    left: 20%;
  }
  80% {
    opacity: 0.3;
    left: 60%;
  }
  90% {
    opacity: 0.1;
    left: 100%;
  }
}

@-webkit-keyframes fog2 {
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.25;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
}

@keyframes fog2 {
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.25;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
}

@-webkit-keyframes fog3 {
  10% {
    opacity: 0.1;
    right: -40%;
  }
  20% {
    opacity: 0.3;
    right: -20%;
  }
  40% {
    opacity: 0.2;
    right: 0%;
  }
  60% {
    opacity: 0.25;
    right: 40%;
  }
  80% {
    opacity: 0.35;
    right: 50%;
  }
  90% {
    opacity: 0.1;
    right: 100%;
  }
}

@keyframes fog3 {
  10% {
    opacity: 0.1;
    right: -40%;
  }
  20% {
    opacity: 0.3;
    right: -20%;
  }
  40% {
    opacity: 0.2;
    right: 0%;
  }
  60% {
    opacity: 0.25;
    right: 40%;
  }
  80% {
    opacity: 0.35;
    right: 50%;
  }
  90% {
    opacity: 0.1;
    right: 100%;
  }
}

@-webkit-keyframes n-anim-movement {
  100% {
    -webkit-transform: translatey(500px);
            transform: translatey(500px);
  }
}

@keyframes n-anim-movement {
  100% {
    -webkit-transform: translatey(500px);
            transform: translatey(500px);
  }
}

@-webkit-keyframes d-pcCardAnimation {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100;
  }
}

@keyframes d-pcCardAnimation {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
}

@font-face {
  font-family: OptimusPrincepsSemiBold;
  src: url(/assets/fonts/OptimusPrincepsSemiBold.ttf);
}

@media (prefers-reduced-motion: no-preference) {
  .n-pad-container-anim, .n-s2-knob-container-anim {
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
  }
}

@media (prefers-reduced-motion: reduce) {
  .n-pad-container-anim, .n-s2-knob-container-anim {
    -webkit-animation-duration: 0s;
            animation-duration: 0s;
  }
  .n-pad-container-anim #maraka_1, .n-pad-container-anim #maraka_2, .n-pad-container-anim #fog1, .n-pad-container-anim #fog2, .n-pad-container-anim #fog3, .n-pad-container-anim #mario, .n-pad-container-anim .d-cardAnimation, .n-pad-container-anim #s_mario, .n-s2-knob-container-anim #maraka_1, .n-s2-knob-container-anim #maraka_2, .n-s2-knob-container-anim #fog1, .n-s2-knob-container-anim #fog2, .n-s2-knob-container-anim #fog3, .n-s2-knob-container-anim #mario, .n-s2-knob-container-anim .d-cardAnimation, .n-s2-knob-container-anim #s_mario {
    -webkit-animation-iteration-count: 0;
            animation-iteration-count: 0;
  }
}

@media screen and (orientation: landscape) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (orientation: portrait) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#s_mario {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: (1fr)[16];
      grid-template-rows: repeat(16, 1fr);
}

.white {
  background-color: #EBEBD3;
}

.red {
  background-color: red;
}

.brown {
  background-color: #5c2f2f;
}

.black {
  background-color: black;
}

.yellow {
  background-color: #fbac69;
}

.blue {
  background-color: blue;
}

#one_1_5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
}

#one_6_10 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / 11;
}

#one_11_16 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 6;
  grid-column: 11 / 17;
}

#two_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#two_5_13 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 9;
  grid-column: 5 / 14;
}

#two_14_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#three_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#three_5_7 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

#three_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#three_10 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10 / 11;
}

#three_11 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-column: 11 / 12;
}

#three_12_16 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 5;
  grid-column: 12 / 17;
}

#four_1_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#four_4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

#four_5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

#four_6 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
}

#four_7_9 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
}

#four_10 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10 / 11;
}

#four_11_13 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
}

#four_14_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#five_1_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#five_4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

#five_5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

#five_6_7 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
}

#five_8_10 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
}

#five_11 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-column: 11 / 12;
}

#five_12_14 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 3;
  grid-column: 12 / 15;
}

#five_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#six_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#six_5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

#six_6_9 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
}

#six_10_13 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10 / 14;
}

#six_14_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#seven_1_5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
}

#seven_6_11 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6 / 12;
}

#seven_12_16 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 5;
  grid-column: 12 / 17;
}

#eight_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#eight_5_6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
}

#eight_7 {
  -ms-grid-column: 7;
  grid-column: 7;
}

#eight_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#eight_10 {
  -ms-grid-column: 10;
  grid-column: 10;
}

#eight_11_12 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
}

#eight_13_16 {
  -ms-grid-column: 13;
  -ms-grid-column-span: 4;
  grid-column: 13 / 17;
}

#nine_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#nine_5_6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
}

#nine_7 {
  -ms-grid-column: 7;
  grid-column: 7;
}

#nine_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#nine_10 {
  -ms-grid-column: 10;
  grid-column: 10;
}

#nine_11_12 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
}

#nine_13_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#ten_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#ten_5_6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
}

#ten_7_11 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

#ten_11_12 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-column: 11 / 15;
}

#ten_13_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#eleven_1_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#eleven_3_4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

#eleven_5 {
  -ms-grid-column: 5;
  grid-column: 5;
}

#eleven_6 {
  -ms-grid-column: 6;
  grid-column: 6;
}

#eleven_7 {
  -ms-grid-column: 7;
  grid-column: 7;
}

#eleven_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#eleven_10 {
  -ms-grid-column: 10;
  grid-column: 10;
}

#eleven_11 {
  -ms-grid-column: 11;
  grid-column: 11;
}

#eleven_12 {
  -ms-grid-column: 12;
  grid-column: 12;
}

#eleven_13_14 {
  -ms-grid-column: 13;
  -ms-grid-column-span: 2;
  grid-column: 13 / 15;
}

#eleven_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#twelve_1_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#twelve_3_5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
}

#twelve_6_11 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6 / 12;
}

#twelve_12_14 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 3;
  grid-column: 12 / 15;
}

#twelve_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#thirteen_1_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#thirteen_3_4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

#thirteen_5_12 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
}

#thirteen_13_14 {
  -ms-grid-column: 13;
  -ms-grid-column-span: 2;
  grid-column: 13 / 15;
}

#thirteen_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#fourteen_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#fourteen_5_7 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

#fourteen_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#fourteen_10_12 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10 / 13;
}

#fourteen_13_16 {
  -ms-grid-column: 13;
  -ms-grid-column-span: 4;
  grid-column: 13 / 17;
}

#fifteen_1_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#fifteen_4_6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
}

#fifteen_7_9 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

#fifteen_11_13 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
}

#fifteen_14_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#sixteen_1_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#sixteen_3_6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
}

#sixteen_7_10 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

#sixteen_11_14 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-column: 11 / 15;
}

#sixteen_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

#header {
  width: 100vw;
  height: 300px;
  background-color: #517664;
  display: -ms-grid;
  display: grid;
  margin-bottom: 5vh;
}

#header_spaceinvader {
  width: 150px;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

p {
  text-align: center;
}

body {
  background-color: #EBEBD3;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p, h1, h2, h3, h4, h5 {
  font-family: "Roboto",sans-serif;
}

#note_1 {
  position: absolute;
  right: 310px;
  top: 151px;
}

#note_2 {
  position: absolute;
  left: 243px;
  top: 200px;
}

#marak_1 {
  position: absolute;
  right: 200px;
  top: 50px;
}

#marak_2 {
  position: absolute;
  left: 152px;
  top: 30px;
}

#marak_1, #marak_2 {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header-top {
  font-size: 2em;
  margin-top: 10%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-h2 {
  margin: 0 auto;
  font-size: 70px;
  margin-bottom: 50px;
  max-width: 1000px;
}

.d-h3 {
  margin: auto;
  font-size: 40px;
}

.d-p {
  font-size: 30px;
  margin-bottom: 30px;
}

.d-pcIcon,
.d-mobileIcon {
  margin: 0 auto;
  max-width: 80%;
}

.d-pcBox,
.d-mobileBox {
  max-width: 450px;
}

.d-iconBox {
  max-width: 300px;
}

.d-cardBox,
.d-mobileCards,
.d-pcMacCards {
  margin: 0 auto;
  margin-bottom: 500px;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-pcBox,
.d-mobileBox,
.d-iconBox {
  background-color: #B4ADEA;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.5);
  padding: 50px 0 50px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-cardAnimation {
  -webkit-animation: d-pcCardAnimation .7s ease-out;
          animation: d-pcCardAnimation .7s ease-out;
}

#s_clouds {
  width: 100vw;
  height: 200px;
}

#s_clouds img {
  height: 100px;
}

#s_cloud1 {
  -webkit-transform: translateX(200px) translateY(70px);
          transform: translateX(200px) translateY(70px);
}

#s_cloud2 {
  float: right;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

#s_mario {
  height: 120px;
  width: 120px;
}

.s_animjs {
  -webkit-animation-name: mario_animation;
          animation-name: mario_animation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#s_boxes {
  height: 280px;
  width: 280px;
  -webkit-transform: translateY(30px) translateX(200px);
          transform: translateY(30px) translateX(200px);
}

#s_pole {
  height: 360px;
  width: 120px;
  -webkit-transform: translateX(320px);
          transform: translateX(320px);
}

#s_flag {
  height: 110px;
  width: 110px;
  -webkit-transform: translateY(-240px) translateX(490px);
          transform: translateY(-240px) translateX(490px);
}

#s_mario_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 400px;
  width: 1000px;
  max-width: 100vw;
}

#s_grass {
  display: block;
  width: 100vw;
  height: 150px;
  background-color: #29d400;
  padding-bottom: 999px;
  margin-bottom: -999px;
}

#s_resetbtn {
  display: block;
  background-color: #EBEBD3;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  margin: 0 auto;
}

#scene_mario {
  overflow: hidden;
  max-height: 1000px;
}

#simen_scene_2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#29d400), color-stop(28%, #7e6000));
  background: linear-gradient(#29d400 0%, #7e6000 28%);
}

#simen_scene_3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#7e6000), color-stop(35%, #484b4f));
  background: linear-gradient(#7e6000, #484b4f 35%);
  position: relative;
}

#s_bonfire {
  display: block;
  width: auto;
  height: 300px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  bottom: 50px;
}

#s_fogwrap {
  width: 100vw;
  height: 350px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

#fog1, #fog2, #fog3 {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#fog1 {
  left: -100%;
  -webkit-animation-name: fog1;
          animation-name: fog1;
  -webkit-animation-duration: 300s;
          animation-duration: 300s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#fog2 {
  right: 0%;
  -webkit-animation-name: fog2;
          animation-name: fog2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
}

#fog3 {
  right: -50%;
  -webkit-animation-name: fog3;
          animation-name: fog3;
  -webkit-animation-duration: 150s;
          animation-duration: 150s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.s_fog {
  overflow: hidden;
  height: 350px;
  width: 100vw;
  position: absolute;
}

.scene, .s_scene {
  width: 100vw;
  display: block;
}

.s_scene {
  height: 100vh;
}

#simen_scene_2_wrap {
  height: 94vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
}

#s_scene_2_header {
  margin: 0;
  font-size: 5vh;
}

#simen_scene_2_wrap > p {
  font-size: 2vh;
  width: 35vw;
  margin: 3vw;
  display: inline-block;
  border: 5px #bbbb6a solid;
  background-color: #EBEBD3;
  padding: 1vw 3vw;
  border-radius: 50px;
  text-align: center;
}

.s_scene_2_player {
  width: 35vw;
  display: inline-block;
  border: 5px #bbbb6a solid;
  background-color: #EBEBD3;
  padding: 1vw 3vw;
  border-radius: 50px;
}

.control {
  margin: 1rem auto;
  width: 25vw;
  display: block;
}

#end {
  font-size: 10vh;
  color: #fbfcfa;
  text-shadow: 2px 2px 8px black, -2px 2px 8px black, 0 2px 8px black, 0 -2px 0 black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 50%;
  font-family: OptimusPrincepsSemiBold, Roboto, sans-serif;
}

article {
  background-color: #EBEBD3;
  font-family: "Roboto Condensed", sans-serif;
}

article p {
  font-size: 15px;
  text-align: center;
}

article p, h2, h3 {
  margin: 10px;
}

article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row, .n-pad-upper, .n-pad-lower {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.n-text-container {
  display: block;
  margin: 2%;
}

.n-text-top-left {
  display: block;
  text-align: left;
}

.n-text-top-right {
  margin-left: 85vw;
  margin-top: -4vh;
  position: absolute;
}

.n-lbox {
  background-color: #C4C4C4;
  width: 20vw;
  height: 60vh;
  margin: 2%;
}

.n-s1-rbox {
  background-color: #517664;
  width: 75vw;
  height: 65vh;
}

.n-s1-topbox-container {
  margin-top: 2%;
  padding-left: 2%;
  padding-top: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.n-s1-topbox {
  border-radius: 45%;
  width: 7vw;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #C4C4C4;
}

article a {
  color: darkmagenta;
  text-decoration: none;
}

article a:hover {
  color: magenta;
  text-decoration: none;
}

.n-s1-topbox p {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.n-s1-lowerbox-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #C4C4C4;
  margin: 5%;
  width: 68vw;
  height: 40vh;
}

.n-s1-lowerbox-left {
  max-height: 20%;
  margin: 20px;
}

.n-s1-lowerbox-right {
  margin: 20px;
  background-color: #636363;
  width: 30vw;
  height: 15vh;
}

.s2-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 50%;
}

.n-s2-boxleft-container, .n-s2-boxright-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.n-s2-wheel {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25%;
  border-radius: 100%;
  background-color: #858585;
  width: 97px;
  height: 97px;
}

.n-s2-wheel-inside {
  background-color: #C4C4C4;
  border-radius: 100%;
  width: 48.5px;
  height: 48.5px;
}

.n-s2-boxleft {
  background-color: #B4ADEA;
  width: 20vw;
  height: 35vh;
}

.n-s2-boxright {
  background-color: #B4ADEA;
  width: 20vw;
  height: 60vh;
}

.n-s2-boxright p, h2, h3 {
  text-align: center;
}

.n-s2-knob-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.n-s2-knob-container-anim {
  -webkit-animation-name: n-anim-movement;
          animation-name: n-anim-movement;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.n-s2-knob {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100%;
  margin-top: 50%;
  border-radius: 100%;
  background-color: #858585;
  width: 50px;
  height: 50px;
}

.n-s2-knob-in {
  border-radius: 100%;
  background-color: #C4C4C4;
  width: 25px;
  height: 25px;
}

.n-pad-container {
  position: absolute;
  margin-left: 60%;
  margin-top: -29%;
}

.n-pad-container-anim {
  -webkit-animation-name: n-anim-movement;
          animation-name: n-anim-movement;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.n-pad {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: #636363;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.n-pad-0-lit {
  background-color: #FFCF87;
}

.n-pad-1-lit {
  background-color: #87FF5C;
}

.n-pad-2-lit {
  background-color: #5CEBFF;
}

.n-pad-3-lit {
  background-color: #FC5CFF;
}

.n-pad-4-lit {
  background-color: #FF8E87;
}

.n-pad-5-lit {
  background-color: #FCFF5C;
}

.n-pad-6-lit {
  background-color: #5CFFA7;
}

.n-pad-7-lit {
  background-color: #AE5CFF;
}

.s3-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 64%;
}

.n-lbox-3 {
  background-color: #C4C4C4;
  width: 30vw;
  height: 60vh;
  margin: 2%;
}
/*# sourceMappingURL=index.css.map */