#mario {
  background-color: grey;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: (1fr)[16];
      grid-template-rows: repeat(16, 1fr);
}

.white {
  background-color: #EBEBD3;
}

.red {
  background-color: red;
}

.brown {
  background-color: #5c2f2f;
}

.black {
  background-color: black;
}

.yellow {
  background-color: #fbac69;
}

.blue {
  background-color: blue;
}

#one_1_5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
}

#one_6_10 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / 11;
}

#one_11_16 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 6;
  grid-column: 11 / 17;
}

#two_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#two_5_13 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 9;
  grid-column: 5 / 14;
}

#two_14_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#three_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#three_5_7 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

#three_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#three_10 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10 / 11;
}

#three_11 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-column: 11 / 12;
}

#three_12_16 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 5;
  grid-column: 12 / 17;
}

#four_1_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#four_4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

#four_5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

#four_6 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
}

#four_7_9 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
}

#four_10 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10 / 11;
}

#four_11_13 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
}

#four_14_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#five_1_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#five_4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

#five_5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

#five_6_7 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
}

#five_8_10 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
}

#five_11 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-column: 11 / 12;
}

#five_12_14 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 3;
  grid-column: 12 / 15;
}

#five_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#six_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#six_5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

#six_6_9 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
}

#six_10_13 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10 / 14;
}

#six_14_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#seven_1_5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
}

#seven_6_11 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6 / 12;
}

#seven_12_16 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 5;
  grid-column: 12 / 17;
}

#eight_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#eight_5_6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
}

#eight_7 {
  -ms-grid-column: 7;
  grid-column: 7;
}

#eight_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#eight_10 {
  -ms-grid-column: 10;
  grid-column: 10;
}

#eight_11_12 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
}

#eight_13_16 {
  -ms-grid-column: 13;
  -ms-grid-column-span: 4;
  grid-column: 13 / 17;
}

#nine_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#nine_5_6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
}

#nine_7 {
  -ms-grid-column: 7;
  grid-column: 7;
}

#nine_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#nine_10 {
  -ms-grid-column: 10;
  grid-column: 10;
}

#nine_11_12 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
}

#nine_13_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#ten_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#ten_5_6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
}

#ten_7_11 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

#ten_11_12 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-column: 11 / 15;
}

#ten_13_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#eleven_1_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#eleven_3_4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

#eleven_5 {
  -ms-grid-column: 5;
  grid-column: 5;
}

#eleven_6 {
  -ms-grid-column: 6;
  grid-column: 6;
}

#eleven_7 {
  -ms-grid-column: 7;
  grid-column: 7;
}

#eleven_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#eleven_10 {
  -ms-grid-column: 10;
  grid-column: 10;
}

#eleven_11 {
  -ms-grid-column: 11;
  grid-column: 11;
}

#eleven_12 {
  -ms-grid-column: 12;
  grid-column: 12;
}

#eleven_13_14 {
  -ms-grid-column: 13;
  -ms-grid-column-span: 2;
  grid-column: 13 / 15;
}

#eleven_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#twelve_1_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#twelve_3_5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
}

#twelve_6_11 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6 / 12;
}

#twelve_12_14 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 3;
  grid-column: 12 / 15;
}

#twelve_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#thirteen_1_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#thirteen_3_4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

#thirteen_5_12 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
}

#thirteen_13_14 {
  -ms-grid-column: 13;
  -ms-grid-column-span: 2;
  grid-column: 13 / 15;
}

#thirteen_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}

#fourteen_1_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#fourteen_5_7 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

#fourteen_8_9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

#fourteen_10_12 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10 / 13;
}

#fourteen_13_16 {
  -ms-grid-column: 13;
  -ms-grid-column-span: 4;
  grid-column: 13 / 17;
}

#fifteen_1_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#fifteen_4_6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
}

#fifteen_7_9 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

#fifteen_11_13 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
}

#fifteen_14_16 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

#sixteen_1_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#sixteen_3_6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
}

#sixteen_7_10 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

#sixteen_11_14 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-column: 11 / 15;
}

#sixteen_15_16 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / 17;
}
/*# sourceMappingURL=mario.css.map */