@import 'colors';
@import 'animations';

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.square{
    background-color: $colour;
    width: 150px;
    height: 150px;
}

#ssquare{
    animation-name: s_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#nsquare{
    animation-name: n_animation;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction:alternate-reverse;
}

div{
    margin:1%;
}