@import "colors";
@import "animations";
@import "fonts";
@import "media-queries";
@import "mario";

*{
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: $backgroundcolor;
}
main {
  display: flex;
  flex-direction: colu mn;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
}

section.intro{
  background-color: $frame1color;
}


