@-webkit-keyframes s_animation {
  0% {
    border-radius: 0%;
  }
  25% {
    border-radius: 50%;
  }
  50% {
    border-radius: 100%;
  }
  75% {
    -webkit-box-shadow: 50px 75px green, -50px 75px red;
            box-shadow: 50px 75px green, -50px 75px red;
  }
}

@keyframes s_animation {
  0% {
    border-radius: 0%;
  }
  25% {
    border-radius: 50%;
  }
  50% {
    border-radius: 100%;
  }
  75% {
    -webkit-box-shadow: 50px 75px green, -50px 75px red;
            box-shadow: 50px 75px green, -50px 75px red;
  }
}

@-webkit-keyframes n_animation {
  0% {
    background-color: limegreen;
  }
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    background-color: indianred;
    -webkit-transform: rotateX(-25deg);
            transform: rotateX(-25deg);
  }
}

@keyframes n_animation {
  0% {
    background-color: limegreen;
  }
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    background-color: indianred;
    -webkit-transform: rotateX(-25deg);
            transform: rotateX(-25deg);
  }
}

body {
  background-color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.square {
  background-color: blue;
  width: 150px;
  height: 150px;
}

#nsquare {
  -webkit-animation: none;
          animation: none;
}

div {
  margin: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  #nsquare {
    -webkit-animation-name: n_animation;
            animation-name: n_animation;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  #ssquare {
    -webkit-animation-name: s_animation;
            animation-name: s_animation;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  .square {
    background-color: darkblue;
  }
}

@media screen and (orientation: landscape) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (orientation: portrait) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */